/* Estilo geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    color: #fff;
    margin: 0;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  .btn-perfil {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-perfil:hover {
    background-color: #0056b3;
  }
  
  /* Perfil */
  .perfil {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f0f0f0;
  }
  
  /* Biblioteca de Jogos */
  .biblioteca {
    margin-top: 30px;
  }
  
  .jogos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .jogo-item {
    background-color: #2e323c;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .jogo-item h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .jogo-item button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .jogo-item button:hover {
    background-color: #218838;
  }
  
  /* Adicionar Jogo */
  .adicionar-jogo {
    margin-top: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  input[type="text"], input[type="file"] {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #444;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }